header {
    display: flex;
    background-color: #98A6A6;
    color: white;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}
hr {
    color: black;
}

 .poster {
    padding-top: 80px;
    padding-left: 50px;
    padding-bottom: 80px;

}

body {
    background-color: #98A6A6;
}

video {
    padding-top: 30px;
    padding-right: 10px;
}

